.wdAddButton {
    /* width: 100% !important;
      min-width: 100% !important;
      max-width: 100% !important; */
    height: 20px !important;
    min-height: 20px !important;
    max-height: 20px !important;
    background-color: #4caf50 !important; /* Green */
    color: white !important;
    display: block !important;
    font-size: 12px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-family: Arial !important;
    text-decoration: none !important;
    text-transform: none !important;
    text-align: center !important;
    transition-duration: 0s !important;
    line-height: 65% !important;
    cursor: pointer !important;
    box-shadow: none !important;
    padding: 4px 0 !important;
    margin: 0 4px !important;
    border: none 0 !important;
    border-radius: 4px !important;
}

.wdAddButton:hover {
    background-color: #102310 !important;
    box-shadow: none !important;
    border: none 0 !important;
    border-radius: 0 !important;
    vertical-align: baseline !important;
}

.wdInfoSpan {
    color: black !important;
    background-color: orange !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-variant: normal !important;
    font-family: Arial !important;
    text-align: left !important;
    text-transform: none !important;
    padding: 5px !important;
    margin: 0 !important;
    border: none 0 !important;
    vertical-align: baseline !important;
    line-height: 65% !important;
    min-height: 0 !important;
    max-height: none !important;
    height: auto !important;
    min-width: 0 !important;
    max-width: none !important;
    width: auto !important;
    float: left !important;
}

.wdQueryTimes {
    color: white !important;
    font-size: 10px !important;
    text-align: left !important;
    text-transform: none !important;
    padding: 5px !important;
    margin: 1px 4px 0 2px !important;
    border: none 4px !important;
    vertical-align: baseline !important;
    line-height: 65% !important;
    min-height: 0 !important;
    max-height: none !important;
    height: auto !important;
    min-width: 0 !important;
    max-width: none !important;
    width: auto !important;
    float: left !important;
}


.wdFreqSpan {
    color: black;
    background-color: orange;
    font: 12px bold Arial !important;
    text-align: right !important;
    text-transform: none !important;
    padding: 5px 4px 4px 4px !important;
    margin: 0 !important;
    border: none 0 !important;
    border-radius: 0 !important;
    border-left-style: solid !important;
    border-left-color: black !important;
    border-left-width: 1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: black !important;
    border-bottom-width: 1px !important;
    vertical-align: baseline !important;
    line-height: 65% !important;
    min-height: 0 !important;
    max-height: none !important;
    height: auto !important;
    min-width: 0 !important;
    max-width: none !important;
    width: auto !important;
    float: right !important;
}

.wdSelectionBubble {
    width: 400px !important;
    position: fixed !important;
    text-align: left !important;
    top: 0;
    left: 0;
    z-index: 1000000 !important;
    padding: 0 !important;
    background-color: orange !important;
    display: none;
    border: solid 1px #86a845 !important;
    border-radius: 4px !important;
    font-family: Arial !important;
    font-style: normal !important;
    font-variant: normal !important;
    line-height: 65% !important;
}

#wdn_translate_bing {
    padding: 0 12px 12px;
    width: 400px;
    font-size: 14px;
    color: #000;

    > div {
        line-height: 20px;
        margin-right: 16px;

        > span {
            display: inline-block;
            width: 56px;
            color: white;
            text-align: center;
            font-size: 12px;
            margin: 0 8px 2px 0;
            border-radius: 2px;
            background-color: cadetblue;
        }
    }

    > div.phonetic span {
        width: auto;
        color: #777;
        cursor: pointer;
        background-color: transparent;
    }
}

.addAndAudioWrap {
    display: flex;
    margin-top: 18px;
    padding: 12px 12px 0;

    > button {
        flex: 1;
    }
}

wdhl.fix::before {
    content: " ";
    margin-right: 0.25rem;
}

div > wdhl.fix:first-of-type::before,
span > wdhl.fix:first-of-type::before {
    margin-right: 0;
}

#wd_toast {
    position: fixed;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    z-index: 999999;
    font-size: 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease;
    opacity: 1 ;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#wd_toast.greenyellow {
    background-color: greenyellow;
    color: #000;
}
#wd_toast.green {
    background-color: lightgreen;
    color: #eee;
}

#wd_toast.red {
    background-color: red;
    color: #fff;
}

#wd_toast.yellow {
    background-color: #FFD700;
    color: #333;
}